{% extends "layout.html" %}
{% block content %}
    <div class="content">
        {% if session.username %}
            <p>You are logged in as: {{ session.username }}</p>
        {% else %}
            <p>You are not logged in</p>
        {% endif %}
        <hr>
        <h1>Threads</h1>
        {% if session.username %}
            <div>
                <form action="/threads/create" method="POST">
                    <button id="create-thread" type="submit">Create a new public thread</button>
                </form>
            </div>
        {% else %}
            <p>You must login to create new threads</p>
        {% endif %}
        <div class="thread-labels">
            <form action="/" method="GET">
                <button class="thread-name" name="sort" value="name">Name</button>
                <button class="thread-creator" name="sort" value="username">Creator</button>
                <button class="thread-date" name="sort" value="creation_time">Creation date</button>
                {% if sort[1] == "ASC" %}
                    <input type="hidden" name="order" value="DESC">
                {% else %}
                    <input type="hidden" name="order" value="ASC">
                {% endif %}
            </form>
        </div>         
        <div class="clearfix"></div>
        <hr>
        {% for thread in threads %}
            <form action="/threads/{{ thread.id }}" method="POST">
                <button class ="thread-button" type="submit">
                    <p class="thread-name" id="thread-name">{{ thread.name }}</p>
                    <p class="thread-creator" id="thread-creator">{{ thread.username }}</p>
                    <p class="thread-date" id="thread-date">{{ thread.creation_date }}</p>
                </button>
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
        {% endfor %}
    </div>
{% endblock %}