<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Viestintäsovellus</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='index.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>     
        <div class="topbar">
            <div id="main-heading">
                <p>Viestintäsovellus</p>
            </div>
            <div>
                <button><i class="fa fa-bars"></i></button>
            </div>
            {% if session.username %}
                <div>
                    <form action="/logout" method="POST">
                        <button type="submit">Logout</button>
                    </form>
                </div>
            {% else %}
                <div>
                    <form action="/login" method="POST">
                        <button type="submit">Login</button>
                    </form>
                </div>
                <div>
                    <form action="/register" method="POST">
                        <button type="submit">Register</button>
                    </form>
                </div>
            {% endif %}
            <div class="clearfix"></div>
        </div>
        <div class="sidebar">
            <h2>Friends</h2>
            {% if session.username %}
                <form action="/" method="GET">
                    <button type="submit" name="tab" value="friends">Friends</button>
                    <button type="submit" name="tab" value="requests">Requests</button>
                </form>          
                {% if tab == "friends" %}
                    <form method="GET">
                        <input class="searchbar" type="text" name="search" placeholder="search for friends">
                    </form>
                    {% if friends|length == 0 %}
                        <p>You have not added any friends. Add friends below.</p>
                    {% else %}
                        {% for friend in friends %}
                            <button>{{ friend.username }}</button>
                        {% endfor %}
                    {% endif %}
                {% elif tab == "requests" %}
                    {% if requests|length == 0 %}
                        <p>You do not have any friend requests</p>
                    {% else %}
                        {% for request in requests %}
                            <div class="friend-request">
                                <p>
                                    {{ request.username }}
                                    <form action="/send_friend_request_answer" method="POST">
                                        <button id="friend-request-accept" name="request_answer" value="accept"><i class="fa fa-check"></i></button>
                                        <button id="friend-request-decline" name="request_answer" value="decline"><i class="fa fa-times"></i></button>
                                        <input type="hidden" name="friend_id" value="{{ request.id }}">
                                    </form>
                                </p>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endif %}
                <hr>
                <h3>Add friend</h3>
                {% if friend_request == "sent" %}
                    <p class="green-text">Friend request sent successfully</p>
                {% elif friend_request == "friend_exists" %}
                    <p class="red-text">This user is already your friend</p>
                {% elif friend_request == "invalid_username" %}
                    <p class="red-text">That username does not exist</p>
                {% elif friend_request == "friend_request_exists" %}
                    <p class="red-text">Friend request already exists</p>
                {% elif friend_request == "self" %}
                    <p class="red-text">You cannot send a friend request to yourself</p>
                {% endif %}
                <form class="sidebar-form" action="/send_friend_request" method="POST">
                    <input class="searchbar" type="text" name="username" placeholder="Enter username">
                    <button id="add-friend" type="submit">Send friend request</button>
                </form>
            {% else %}
                <p>Log in to access friend list</p>
            {% endif %}
        </div>
        <div class="content">
            <p>Temporary login link: <a href="/login">login</a></p>
            <p>Temporary register link: <a href="/register">register</a></p>
            <hr>
            {% if session.username %}
                <p>You are logged in as: {{ session.username }}</p>
                <a href="/logout">Log out</a>
            {% else %}
                <p>You are not logged in</p>
            {% endif %}
            <hr>
            <h1>Threads</h1>
            <div class="thread-labels">
                <p class="thread-name">Name</p>
                <p class="thread-creator">Creator</p>
                <p class="thread-date">Creation date</p>
            </div>         
            <div class="clearfix"></div>
            <hr>
            {% for thread in threads %}
                <form action="/threads/{{ thread.id }}" method="POST">
                    <button class ="thread-button" type="submit">
                        <p class="thread-name" id="thread-name">{{ thread.name }}</p>
                        <p class="thread-creator" id="thread-creator">{{ thread.username }}</p>
                        <p class="thread-date" id="thread-date">{{ thread.creation_date }}</p>
                    </button>
                </form>
            {% endfor %}
            {% if session.username %}
                <a href="/threads/create">Create a new public thread</a>
            {% else %}
                <p>You must login to create new threads</p>
            {% endif %}
        </div>
    </body>
</html>