<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Viestintäsovellus</title>
    </head>
    <body>
        <p>Thread id: {{ id }}, Created by: {{ creator }}, Created at: {{ creation_time }}</p>
        <h1>{{ name }}</h1>
        <hr>
        {% for message in messages %}
        <div>
            <p>{{ message.message }}</p>
        </div>
        <p>Sender: {{ message.username }}, Sent at: {{ message.creation_time }}</p>
        <hr>
        {% endfor %}
        <form action="/threads/{{ id }}/send_message" method="POST">
            <textarea name="message" rows="8" cols="100"></textarea>
            <input type="submit" value="Send message">
        </form>
    </body>
</html>