{% extends "layout.html" %}
{% block content %}
    <p>Thread id: {{ id }}, Created by: {{ creator }}, Created at: {{ creation_time }}</p>
    <h1>{{ name }}</h1>
    <hr>
    {% for message in messages %}
        <div>
            <p>{{ message.message }}</p>
        </div>
        <p>Sender: {{ message.username }}, Sent at: {{ message.creation_time }}</p>
        <hr>
    {% endfor %}
    {% if session.username %}
        <form action="/threads/{{ id }}/send_message" method="POST">
            <textarea name="message" rows="8" cols="100"></textarea>
            <input type="submit" value="Send message">
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
    {% endif %}
{% endblock %}